extends layout

block content

  #hhtreesmap.map
  #loading
    i.fa.fa-circle-o-notch.fa-spin
  #legend.legend
  #controls.controls
    #zoomin.controlelement.left
      i.fa.fa-plus
    #zoomout.controlelement
      i.fa.fa-minus
    .abouttrigger.controlelement
      i.fa.fa-question
    #info.info.controlelement
  .about
    i.fa.fa-close
    .inner
      h1 
        i.fa.fa-tree 
        i.fa.fa-tree 
        i.fa.fa-tree
      h1
        |  HAMBURG Street Trees
      h4 Mapping the urban forest in Hamburg, Germany.
      p 
        small Data made available by <a href="http://transparenz.hamburg.de/">Hamburg Transparenzportal</a>
      p 
        small In cooperation with <a href="http://codefor.de/hamburg/index.html">CODE for Hamburg</a> | 
        small Inspired by <a href="http://www.jillhubley.com/project/nyctrees/">NYC Street Trees Project</a> by Jill Hubley