doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='csrf-token', content=_csrf)
    title #{title} - Hackathon Starter
    //!= css('vendor/leaflet/leaflet')
    <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.13/themes/css/cartodb.css" />
    != css('main')
  body
    if title != 'HH Trees'
      include partials/header

    .container
      //include partials/flash
      block content

    //include partials/footer

    != js('application')